[Unit]
Description=Run watchlog script every 30 second

[Timer]
# Run every 30 second
OnActiveSec=30
OnUnitActiveSec=30
Unit=watchlog.service
Persistent=true

[Install]
WantedBy=timers.target